{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}

{% endblock %}

{% block content %}

<h2>Instruction for the Decision Stage</h2>
<p>
  In stage 2, the decision stage, you can repeatedly choose between the two options you got to know in the sampling
  stage. In the decision stage, the payoffs count towards your final payoff.
</p>
<p>
  In the decision stage you receive only information about the outcome of the option you chose. But you can also gain
  information about the option that you are not choosing in the next trial by paying {{ information_cost }} points when
  clicking
  the checkbox "see all payoffs", highlighted below:
</p>

<div class="container">
  <div class="row" style="text-align: center;">
    <div class="col-xs-12">
</div>
</div>
<div class="row">
  <img width = 50% src="{{ static 'information_cost_decision.png' }}" />
</div>
<p>
After each decision you again receive feedback, your chosen button is green, and after it turns white you may continue
to the next round by hitting the spacebar. Information about your payoffs and cost are shown below the choice options.
Here in the next example, you see that the screen shows the payoffs for both buttons, because the "see all payoffs" was checked.
</p>
<p>
After you have made your first decision in the decision stage, the option you have chosen will be marked with a red border in the next trial.
</p>
</div>
<div class="row"> 
  <img width = 50% src="{{ static 'exploit_stage_screen_checked_info_feedback.png' }}" />
</div>
<p>
If you decide now to pick the button on the right, the circle, you will have to pay a onetime switching cost of {{
switching_cost }}. The switching cost must be paid in the trial when you switch from one button to the other. Remember,
you do not have to switch to know the payoff, just check the see all payoff box. The switching cost and information cost
are shown in your payoff summary for the respective trial.
</p>
<div class="row">
  <img width = 50% src="{{ static 'exploit_stage_screen_switch.png' }}" />
</div>
<p>Are you ready? Then click continue to answer the questions to make sure that you understood the instructions. </p>
{{ next_button }}
{% endblock %}