{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}

{% endblock %}

{% block content %}
<div class="container">
<div class="row">
  <div class="col-xs-12">
    <h2>Instruction</h2> 
    <p>
      In the following task, we will ask you to repeatedly choose between two options. The options are the two buttons below. 
      Each button has different outcomes. The outcomes count towards your final payoff. Before you have to choose between between the buttons 
      counting towards your payoff, you can explore the outcomes for each button as long as you want. At the bottom of the page you see the button "Done Sampling". 
      You can press this button to switch from the sampling to the payoff phase. 
      You will have to pay {{ switching_cost }} to switch between options in the payoff phase. 
      In the payoff phase, you can also gain information about the option that you are not choosing in the next trial by paying {{ information_cost }}.
    </p>   
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <p></p>
    
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    {% if previous_choice == "a" %}
    <button class="btn-mine_choosen" name="choice_a" value="a">Stay with</button>
    {% else %}
    <button class="btn-mine_not_choosen" name="choice_a" value="a">Switch to</button>
    {% endif %}
  </div>
  <div class="col-md-4">
    <p></p>
    
  </div>
  <div class="col-md-4">
    {% if previous_choice == "b" %}
    <button class="btn-mine_choosen" name="choice_a" value="b">Stay with</button>
    {% else %}
    <button class="btn-mine_not_choosen" name="choice_a" value="b">Switch to</button>
    {% endif %}   
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <p></p>
    
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4">
    <p></p>
    
  </div>
</div>
<div class="row">
 <div class="d-grid gap-2">
    <button class = "btn btn-primary" name="explore_stop" value="True">Done sampling</button>
  </div>
</div>

{% endblock %}

<!-- to introduce different colored buttons i have to use different button classes. 
To show the payoff I can just then print the feedback on the button in the results page 
the color of the backrgoun should depend on the previous default, what was choosen 
use classes
use bootstrap container: https://getbootstrap.com/docs/5.0/getting-started/introduction/--> 